*:not(.icon) {
  text-align: center;
  font-family: lato, sans-serif;
  background-color: rgb(26 150 218);
}

.container {
  max-width: 1300px;
  margin: 5rem auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  color: rgb(255 255 255);
  font-size: 2.6rem;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100%/3);
  padding: 0 2.4rem;
}

.image-container {
  width: 165px;
  border-radius: 50%;
  border: 0.6rem solid;
  border-color: white;
  background-color: white;
  margin: 0 auto;
}

.icon {
  width: 100%;
  padding: 2rem;
}

h3 {
  color: rgb(255 255 255);
  font-size: 1.7rem;
}

p {
  color: lightgray;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: -0.7rem;
}
